<header>
    <style>
            body {
                /* Specify a linear gradient background */
                /* background: linear-gradient(to right, rgb(194, 194, 203), #dec1c1, #e28989, rgb(236, 105, 105)); */
                background: rgb(241, 236, 241);
                /* background: linear-gradient(90deg, #E6E6FA 0%, rgb(88, 88, 202) 35%, rgb(178, 227, 237) 100%); */
                /* background: conic-gradient(from 315deg at 50% 50%, #008cff, #7562ed, #e1b4eb) */
            }

    </style>
</header>